.container {
    border-top: 1px solid var(--app-gray-color);
    height: 100px;
    line-height: 100px;
}

.row {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    vertical-align: middle;
    margin: auto;
}

a {
    font-size: 20px;
    color: var(--app-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}