.container {
    width: calc(100% - 40px);
    margin: 20px;
}

.überschrift_container {
    border: 1px solid var(--app-gray-color);
    background-color: var(--app-white-color);
    padding: 10px;
    padding-left: 20px;
}

.überschrift {
    color: var(--app-text-color);
    font-size: 32px;
    font-weight: bold;
}

.row {
    margin-top: 5px;
    display: flex;
}

.datum_container {
    border: 1px solid var(--app-gray-color);
    font-size: 20px;
    font-weight: bold;
    color: var(--app-text-color);
    padding: 10px;
    padding-left: 20px;
    width: 300px;
    margin-right: 5px;
    background-color: var(--app-white-color);
}

.ereignis_container {
    border: 1px solid var(--app-gray-color);
    font-size: 20px;
    font-weight: bold;
    color: var(--app-text-color);
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    background-color: var(--app-white-color);
}

.list {
    margin-left: 20px;
    font-weight: 100;
}
