<p class="label">Programmier Sprachen</p>
<div class="container">
  <app-technologie-container
    *ngFor="let technologie of programmierSprachen"
    [technologie]="technologie"
  ></app-technologie-container>
</div>
<p class="label">Frameworks</p>
<div class="container">
  <app-technologie-container
    *ngFor="let technologie of frameworks"
    [technologie]="technologie"
  ></app-technologie-container>
</div>
<p class="label">Programme</p>
<div class="container">
  <app-technologie-container
    *ngFor="let technologie of programme"
    [technologie]="technologie"
  ></app-technologie-container>
</div>
