.label {
    padding-left: 10px;
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: var(--app-text-color);
}

.container {
    margin-bottom: 5px;
    width: calc(100% - 10px);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}